<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>report</title>

    <style>
        body { margin: 0px; overflow:hidden }
    </style>

</head>

<body>

  	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
			id="relatoriobb" width="100%" height="100%"
			codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
			<param name="movie" value="relatoriobb.swf" />
			<param name='flashVars' value="store_id={{ instance.pk }}&endpoint=/admin/mediafiles/medialogs/&service=medialog"/>
			<param name="quality" value="high" />
			<param name="bgcolor" value="#ffffff" />
			<param name="allowScriptAccess" value="sameDomain" />
			<embed src="/media/logs/{{ skin_slug }}/relatoriobb.swf" quality="high" bgcolor="#ffffff"
				width="100%" height="100%" name="relatoriobb" align="middle"
				flashVars="store_id={{ instance.pk }}&endpoint=/admin/mediafiles/medialogs/&service=medialog" 
				play="true"
				loop="false"
				quality="high"
				allowScriptAccess="sameDomain"
				type="application/x-shockwave-flash"
				pluginspage="http://www.adobe.com/go/getflashplayer">
			</embed>
	</object>

</body>
</html>
