<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>{{ structure.skin }}</title>

    <style>
        body{ 
            margin: 0px; 
            overflow:hidden;
            background:black; 
        }
    </style>

</head>

<body>
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
            id="index" width="100%" height="100%"
            codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
            <param name="movie" value="/media/tod_skins/{{ structure.skin.slug }}.swf" />
            <param name='flashVars' value="structure_id={{ structure.id }}&endpoint=http://{{ request.get_host }}{% url tod_amf_structure %}&service=structure&video_url=http://{{ request.get_host }}/player/media/&password={{ client_password }}"/>
            <param name="quality" value="high" />
            <param name="bgcolor" value="#000000" />
            <param name="allowScriptAccess" value="always" />
            <embed src="/media/tod_skins/{{ structure.skin.slug }}.swf" quality="high" bgcolor="#000000"
                width="100%" height="100%" name="index" align="middle"
                flashVars="structure_id={{ structure.id }}&endpoint=http://{{ request.get_host }}{% url tod_amf_structure %}&video_url=http://{{ request.get_host }}/player/media/&tv_url=http://{{ request.get_host }}{{ wait_page_url }}&wait_time=20&channels={{ live_channels }}&channel_url=http://{{ request.get_host }}/player/live&password={{ client_password }}" 
                play="true"
                loop="false"
                quality="high"
                allowScriptAccess="always"
                type="application/x-shockwave-flash"
                pluginspage="http://www.adobe.com/go/getflashplayer">
            </embed>
    </object>
</body>
    
    <script type="text/javascript" src="/media/js/j.js"></script>
    <script type="text/javascript">
        $(function(){
           $.get('/admin/format-screen/');
        });
    </script>

</html>
