{% extends 'admin/base_site.html' %}
{% load i18n structure_tags %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/media/style/tooltip.css" />
    <link rel="stylesheet" type="text/css" href="/media/style/tv_on_demand.css" />

    <script type="text/javascript" src="/media/js/j.js"></script>
    <script type="text/javascript" src="/media/js/j.mask.js"></script>
    <script type="text/javascript" src="/media/js/j.bgiframe.js"></script>
    <script type="text/javascript" src="/media/js/j.dimensions.js"></script>
    <script type="text/javascript" src="/media/js/j.tooltip.js"></script>

    <script type="text/javascript" src="/media/js/tv_on_demand.js"></script>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../">Início</a> &rsaquo;
     <a href="../../">Tv_On_Demand</a> &rsaquo; 
     <a href="../">Structure</a> 
</div>
{% endblock %}

{% block content %}
    <div id="tv-on-demand">
        <div id="cont">
            <h1>TV On Demand - {% trans 'Structure' %}</h1>

            <h2>{% trans 'Structure configuration' %}</h2>
            <div id="structure-frame">               

                <form method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        {% if object %}
                            {% structure_as_p form 'users' object %}
                        {% else %}
                            {% structure_as_p form 'users' %}
                            <span class="no-extra-fields">True</span>
                        {% endif %}
                    </div>

                    <div>
                        {% structure_as_p form 'name,date_start,date_end,skin' %}
                        <p class="buttons">
                            <input type="submit" value="{% trans 'Save' %}" name="structure_save" id="id_structure_save" /> <br />
                        </p>
                    </div>
                </form>
            </div>

            {% if object %}
            <h2>{% trans 'Structure montage' %}</h2>

            <div id="rows-frame">
                {% load_structurerows object %}
                <p class="ghost">
                    {{ row_form.entry }}
                </p>
                
                {% if not rows_output %}
                <!-- LEVEL -->
                <div>
                    <!-- MENU -->
                    <h2>
                        <span>Menu</span>
                        <em>
                            <a href="#" class="menu-properties" title="editar esse item">Editar</a> / 
                            <a href="#" class="level-add" title="adicionar nível">{% trans 'Level' %} [+]</a> / 
                            <a href="#" class="row-add" title="adicionar item">{% trans 'Item' %} [+]</a> /
                            <a href="#" class="level-rm" title="remover este nível">{% trans 'Level' %} [-]</a>
                        </em>
                        
                        <p class="ghost">
                            <a href="/admin/mediafiles/mediafile/?media_type__exact=menu" class="select-media">Selecionar um menu</a> <br/><br/>
                            <span class="ghost">
                                Título<br /> <input type="text" name="fake_title" /> <br />
                                Descrição<br /> <input type="text" name="fake_description" /> <br />
                                Usuários permitidos<br /> {{ row_form.users }}<br />
                                Data de início<br /> <input type="text" name="fake_date_start" /> <br />
                                Data de término<br /> <input type="text" name="fake_date_end" /> <br />
                                <input type="hidden" name="fake_media_id" />
                                <input type="hidden" name="fake_order" value="0" /> 
                                <input type="hidden" name="fake_object_id" value="" />
                                <input type="button" name="save_menu" value="Salvar" class="save" />
                            </span>
                        </p>
                    </h2>
                    <!-- END OF MENU -->

                    <!-- items -->
                    <ul></ul> 
                    <!-- end of items -->		
                </div>
                <!-- END OF LEVEL -->               

            {% else %}
                {{ rows_output|safe }}    
            {% endif %}
        </div>
        {% endif %}
    </div>
{% endblock %}
