{% load thumbnail %}

<style>
    body{
        background: #000;
        color: #fff;
    }
    h2{
        font-size: 1.8em;
        font-weight: bold;        
    }
    p{
        font-size: 1.2em;
    }

</style>


<h2 class="row">{{ selected_row.title }}:</h2>
<div class="video-list">
    <embed type="application/x-vlc-plugin" id="vlc" class="video" autoplay="yes" style="width: 100%; height: 80%;"
           loop="no" volume="100" target="{% url mediafiles_serve selected_row.mediafile.pk %}" />

</div>
<p>
    {{ selected_row.label }}
</p>

