{% extends "admin/change_form.html" %}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="/media/js/j.js"></script>
    <script type="text/javascript" src="/media/js/j.mask.js"></script>
    <script type="text/javascript" src="/media/js/j.bgiframe.js"></script>
    <script type="text/javascript" src="/media/js/j.dimensions.js"></script>
    <script type="text/javascript" src="/media/js/j.tooltip.js"></script>
    <script type="text/javascript" src="/media/js/tv_on_demand.js"></script>

{% endblock %}


